<!DOCTYPE html>
 <html xmlns:th="https://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>システム</title>
</head>
<body>
	<form action="#" th:object="${indexForm}" method="post">
		<div>
			<h1>ようこそ！(20230606-05)</h1>
		</div>
		<div>
			<h2>AzureFiles接続情報</h2>
			
			<table>
				<tr>
					<th>
						AccountName：
					</th>
					<td>
						<input type="text" th:field="*{accountName}" style="width: 40rem;" />
					</td>
				</tr>
				<tr>
					<th>
						AccountKey：
					</th>
					<td>
						<input type="text" th:field="*{accountKey}" style="width: 40rem;" />
					</td>
				</tr>
				<tr>
					<th>
						ShareName：
					</th>
					<td>
						<input type="text" th:field="*{shareName}" style="width: 40rem;"/>
					</td>
				</tr>
			</table>
		</div>
		<div>
			<hr />
		</div>
		<div>
			<h2>AzureFilesダウンロード</h2>
			
			<table>
				<tr>
					<th>
						フォルダ：
					</th>
					<td>
						<input type="text" th:field="*{folderName}"  style="width: 40rem;" />
					</td>
				</tr>
				<tr>
					<th>
						ファイル：
					</th>
					<td>
						<input type="text" th:field="*{fileName}"  style="width: 40rem;" />
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<input type="submit" value="download" name="DownloadFile" />
					</td>
				</tr>
			</table>
		</div>
		<div>
			<hr />
		</div>
		<div>
			<h2>ファイル生成＆AzureFilesアップロード</h2>
			<table>
				<tr>
					<th>
						印刷文字(PDFについては日本語未対応)：
					</th>
					<td>
						<input type="text" th:field="*{sendValue}" />
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<input type="submit" value="PDF" name="PdfPrint" />
						<input type="submit" value="EXCEL"  name="ExcelPrint"  />
						<input type="submit" value="EXCEL(テンプレートから)"  name="ExcelPrintTemplate"  />
					</td>
				</tr>
			</table>
		</div>
		<div>
			<hr />
		</div>
		<div>
			<h2>Java Rest通信確認</h2>
			<table>
				<tr>
					<th>
						URL：
					</th>
					<td>
						<input type="text" th:field="*{restUrl}" style="width: 80vw;" />
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<input type="submit" value="Rest Connect" name="RestConnect" />
						<input type="submit" value="Rest Download" name="RestDownload" />
					</td>
				</tr>
				<tr>
					<th>
						RESULT STATUS：
					</th>
					<td>
						<input type="text" th:field="*{restResult}" style="width: 80vw;" />
					</td>
				</tr>
			</table>
		</div>
	</form>
</body>
</html>